* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    /* border: 1px solid black; */
    font-family: 'Raleway', sans-serif;
}

header{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;  
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    height: 70px;
}

.menu_titulo{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.cores{
    color: black;
    padding: 20px;
    font-weight: 700;
}

a {
    color: #FF6E22; 
    font-weight: 700;
}

main {
    /* border: 2px solid blue; */
    display: flex;
    
}

section {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}

.menu_pet {
    /* border: 3px solid hotpink; */
    display: flex;
    flex-direction: column;
    margin: 28px;
    padding: 40px;
}

h1{
    height: 120px;
    font-size: 37px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: black; */
    /* font-weight:900px; */
    height: 200px;
}

h2{
    height: 20%;
}

div > button{
    border-radius: 10px;
    background-color: #FF9922;
    color: white;
    padding: 10px;
    position: relative;
    left: 8px;
}

.menu_imagens {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    
}

.imagem_1 {
    /* border: 2px solid hotpink; */
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-top: 55px;
    
}
.primeira_img {
    width: 180px;
    
}
.segunda_img {
    width: 160px;
    margin-top: 50px;
}

.imagem {
    display: flex;
    margin-top: 55px;
}


    
 








